.table table {
  border-collapse: collapse;
  overflow: hidden;
  margin: 0 auto;
}

.table td, th {
  border: 1px solid #000;
  position: relative;
}

.table td {
  width: 58px;
  height: 58px;
}

.table td:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0063ef;
  position: absolute;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
}

.table tbody tr:hover {
  background: #ffe581;
}

.table tbody td:hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  background: #ffe581;
  z-index: -1;
}

.table tbody td:hover:before {
  background: #000;
}

.table tbody td:hover {
  background: #ffcd00;
}
