
.slider label{
	background: black;
	width: 13px;
	height:13px;
	border:1px solid white;
	border-radius: 50%;
	display: inline-block;
}

.slider{
	width: 500px !important; height: 375px !important;
}

.slider {
	background-image: url(images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.slider input:checked + label{
	background: #8e242c;
	box-shadow: 0 0 10px 3px white;

}

#img2:checked .slider{
	background-image: none;
}

